.article {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: .3rem;
    margin-left: 1rem;
}

.article:hover {
    background-color: #ddd;
}

.article img {
    
    border-style: groove;
    width: 100%;
    height: auto;
    border-radius: .35rem .35rem 0 0;
}


.article div {
    padding: 0 1rem;
    border-style: groove;
    display: flex;
    flex-direction: column;
    width: 100%;
}


@media screen and (min-width: 768px) {


    .article {
        flex-direction: row;
    }

    .article img {
        
        width: 6rem;
        height: auto;
        
    }

    .article div {
        padding: 0 1rem;
    }

}
.viewed div{
    padding: 0 1rem;
}

.viewed >div {

background-color:  rgb(230, 230, 230);
display:flex ;  
flex-direction: column;
cursor: pointer;
border-radius: .5rem;
margin-bottom: 1rem;
border-style: groove;
}
.viewed img{
    
    margin-top: 1rem;
    height: auto;
    display: flex;
    border-radius: .80rem .80rem .80rem .80rem;
    width: 100%;
    
}
.viewed > div:hover {
    background-color: #ddd;
}
