.aside img{width: 100%;
    
    border-radius: 1rem 1rem 1rem 1rem;
    

}

.aside {
    display: flex;
    flex-direction: column;
    
}
.aside-author {
    margin-top: 1rem;
}

.aside-author img, .aside_article img {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: .80rem .80rem .80rem .80rem;
}

.aside-author h4 {
    margin: .5rem 0;
}

.aside-author ul {
    font-size: small;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
}

.aside_article {
    cursor: pointer;
    
}

.aside_article div {
    margin-bottom: 1rem;
}

.aside_article div:hover {
    background-color: #eee;
}
.aside_article h5{
    margin: 0;
    padding: .5rem;
}